a {padding: 5px;}
.avatar-container {
    width: 50px; /* Желаемая ширина */
    height: 50px; /* Желаемая высота */
    border-radius: 50%; /* Создает форму круга */
    overflow: hidden; /* Обрезает содержимое, чтобы соответствовать размерам контейнера */
  }
  
  .avatar-image {
    width: 100%; /* Заполняет ширину контейнера */
    height: 100%; /* Заполняет высоту контейнера */
    object-fit: cover; /* Масштабирует и обрезает изображение, чтобы оно полностью заполнило контейнер */
  }
  .logo{
    max-height: 25px;
    max-width: 25px;
    // vertical-align: middle;
    // margin-right: 5px;
    // position: sticky;
  }
  .menu {
    background: #313131; /* Задайте цвет фона, используя соответствующее значение */
    // position: sticky;
  }

  button.btn-primary:hover {
    background-color: #393636;
    color: rgb(164, 164, 164);
    border: 1px solid rgb(164, 164, 164);
  }
  button.btn-primary {
    background-color: #211e1e;
    border: 1px solid white;
  }