<div class="menu container-fluid" style="width: 100%; margin: 0; padding:10;">

  <div class="d-flex justify-content-between align-items-center" >
    
    <div class="d-flex align-items-center">
      <img src="../../../assets/mainLogo1.png" alt="Логотип" class = "logo" style="margin-right: 5px;">
      <h1 style="margin-top: 20px;">
      GatherTogether
      </h1>
    </div>
    <div>
        
      <ng-container *ngIf="!userData.isLoggedIn">
        <button class="btn btn-primary mx-2" (click)="goSignUp()">Sign up</button>
        <button class="btn btn-primary mx-2" (click)="goLogIn()">Login</button>
      </ng-container>

      <ng-container *ngIf="userData.isLoggedIn">  
        <div class="d-flex align-items-center">
          <!-- <button class="btn btn-primary mx-2" (click)="gologout()">Logout</button> -->
          <h3  style="margin-top: 20px; margin-right: 10px;">{{username}}</h3>
          <div class="avatar-container ml-2">
            <img [src]="avatarUrl" alt="Профиль пользователя" class="avatar-image">
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>

<!-- <div class="container d-flex flex-column align-items-center">
  <router-outlet></router-outlet>
</div> -->

<div class="container-fluid p-0">
    <router-outlet></router-outlet>
  </div>