  <div class="d-flex flex-column align-items-left min-height: 80vh;">
    <div *ngIf="currentMeet">
    <!-- <div *ngIf="currentMeet" class="text-center"> -->

      <h2 style="font-size: 1.5em; width: 100%; margin-top: 10px; text-align: left; word-wrap: break-word; font-size: 24px;">{{ currentMeet.name }}</h2>
      
      <span class="date" style="margin-bottom: 10px; font-size: 14px; text-align: left;" > {{ currentMeet.date | date:'dd.MM.yyyy' }} {{ currentMeet.date | date:'HH:mm' }}</span>


      <div class="image-block align-items-center">
        <img [src]="currentMeet.image" alt="Preview" style="object-fit: cover; height: 500px; width: 80%;">
      </div>

      <div class="description-block bg-dark text-white">
        <p style="width: 100%; margin-top: 30px; text-align: justify; font-size: 18px;">
          {{ currentMeet.description }}
        </p>
      </div>

    </div>

    <span style="width: 100%; display: block; top: 50%; left: 0; right: 0; margin-bottom: 15px; height: 1px; background-color: white;"></span>
  </div>